@(businessRegistrationForm: Form[models.BusinessRegistration], service: String, displayDetails: models.BusinessRegistrationDisplayDetails, redirectUrl: Option[String], isRegisterClient: Boolean)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import config.ApplicationConfig

@implicitFormInstance = @{ Some(businessRegistrationForm) }

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/business-customer-country-auto-complete.js")'></script>
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/business-registration.js")'></script>
<script>
    $(document).ready(function() {
      countryCodeAutoComplete("#businessAddress\\.country")
      var classOfSelect1 = $('#businessAddress\\.country_').attr('class');
      $("#businessAddress\\.country").addClass(classOfSelect1)
      var labelText1 = $("#businessAddress\\.country_field").text();
      var divId1 = "businessAddress\\.country_div"
      var fieldId1 = "businessAddress.country_"
      createLabelForHiddenSelect(divId1, fieldId1, labelText1);

      countryCodeAutoComplete("#issuingCountry")
      var classOfSelect2 = $('#issuingCountry_').attr('class');
      $("#issuingCountry").addClass(classOfSelect2)
      var labelText2 = $("#issuingCountry_field").text();
      var divId2 = "issuingCountry_div"
      var fieldId2 = "issuingCountry_"
      createLabelForHiddenSelect(divId2, fieldId2, labelText2);

      showHideIdentifiersSection();
    });
  </script>
}

@bcMain(title = displayDetails.businessRegHeader, service = Some(service), pageScripts = Some(pageScripts)) {

@bcErrorSummary(businessRegistrationForm, "bc.non-uk-reg-error.general")

<div class="heading-sub" id="business-verification-text"> @Html(displayDetails.businessRegSubHeader) </div>
<h1 class="heading-xlarge" id="business-reg-header" aria-level="1" role="heading"> @Html(displayDetails.businessRegHeader) </h1>

@displayDetails.businessRegLede.map { businessRegLede =>
  <p class="lede" id="business-reg-lede">@Html(businessRegLede)</p>
}

@form(action = controllers.nonUKReg.routes.UpdateNonUKBusinessRegistrationController.update(service, redirectUrl, isRegisterClient)) {

<div class="form-group">

  <div id="non-uk-reg-form">

    @bcInput(businessRegistrationForm("businessName"),
    '_label ->  Html(Messages("bc.non-uk-reg.businessName")),
    '_labelClass -> "form-label",
    '_id -> "businessName",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_1"),
    '_label ->  Html(Messages("bc.non-uk-reg.address")),
    '_id -> "businessAddress.line_1",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_2"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_2")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_2",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_3"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_3")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_3",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_4"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_4")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_4",
    '_showConstraints -> false)

    @bcDropdown(businessRegistrationForm("businessAddress.country"),
    elementOptions = displayDetails.listOfIsoCode,
    displayEmptyValue = true,
    '_id -> "businessAddress.country",
    '_emptyValueText -> Messages("bc.non-uk-reg.country.select"),
    '_label -> Html(Messages("bc.non-uk-reg.country")))

    <div class="form-group" id="hasBusinessUniqueId">

      @bcInputRadioGroup(businessRegistrationForm("hasBusinessUniqueId"),
      Seq("true" -> Messages("bc.radio.yes.label"), "false" -> Messages("bc.radio.no.label")),
      '_legend -> Messages("bc.non-uk-reg.hasBusinessUniqueId"),
      '_fieldsetAttributesHelpQuestion -> "hasBusinessUniqueId-help-question",
      '_fieldsetQuestion -> Messages("bc.non-uk-reg.hasBusinessUniqueId.help.question"),
      '_HelpQuestionAnswer -> Html(Messages("bc.non-uk-reg.hasBusinessUniqueId.help.answer")),
      '_groupClass -> "inline",
      '_labelClass -> "block-label",
      '_labelAfter -> true)

    </div>

    <div class="form-group">

      <div id="hidden-identifiers" class="indent">

        @bcInput(businessRegistrationForm("businessUniqueId"),
        '_label ->  Html(Messages("bc.non-uk-reg.businessUniqueId")),
        '_id -> "businessUniqueId",
        '_hintText -> Messages("bc.non-uk-reg.businessUniqueId.hint"),
        '_showConstraints -> false)

        @bcDropdown(businessRegistrationForm("issuingCountry"),
        elementOptions = displayDetails.listOfIsoCode,
        displayEmptyValue = true,
        '_id -> "issuingCountry",
        '_emptyValueText -> Messages("bc.non-uk-reg.country.select"),
        '_label -> Html(Messages("bc.non-uk-reg.issuingCountry")))

        @bcInput(businessRegistrationForm("issuingInstitution"),
        '_label ->  Html(Messages("bc.non-uk-reg.issuingInstitution")),
        '_id -> "issuingInstitution",
        '_hintText -> Messages("bc.non-uk-reg.issuingInstitution.hint"),
        '_showConstraints -> false)

      </div>

    </div>

  </div>

  <button class="button" id="submit" type="submit">@Messages("bc.continue")</button>

</div>
}

}
