@(form: Form[_])

@if(form.hasGlobalErrors || form.hasErrors){
<div id="errors" class="validation-summary">
    <h1 class="heading-small">@Messages("bc.business-verification-error.summaryHeader")</h1>
    <ul>
        @if(form.hasGlobalErrors) {
        @for(validationError <- form.globalErrors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        } else {
        @if(form.hasErrors) {
        @for(validationError <- form.errors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        }
    </ul>
</div>
}
}