@(ated1QuestionForm: Form[models.Ated1Question], service: String)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.BCUtils

@implicitFormInstance = @{ Some(ated1QuestionForm) }

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/business-customer-ated1.js")'></script>
}

@bcMain(title = Messages("bc.ated1.title"), service = Some(service), pageScripts = Some(pageScripts)) {

@bcErrorSummary(ated1QuestionForm, "bc.ated1-error.general")

@form(action = controllers.routes.Ated1QuestionController.continue(service)) {

<p class="heading-sub" id="ated1-question-subheader"> @Messages("bc.ated1.subheader")</p>

<h1 class="heading-xlarge" id="ated1-question-header"> @Messages("bc.ated1.header")</h1>

<p class="lede" id ="ated1-info-text"> @Messages("bc.ated1.info.text")</p>


<div class="form-group" id="permission">

    @bcInputRadioGroup(
    ated1QuestionForm("ated1"),
    Seq("true" -> Messages("bc.radio.yes.label"),
    "false" -> Messages("bc.radio.no.label")),
    '_labelClass -> "block-label",
    '_legend -> "",
    '_labelAfter -> true,
    '_groupClass -> "inline"
    )



<div id="ated1-false-hidden" class="panel-indent">
    <div class="confirmation-notice">
        <div class="icon-important"></div>
        <strong>@Messages("bc.ated1-false.notice")</strong>
    </div>
</div>

</div>






<div class="form-group" id="submit">
    <button class="button" id="submit-btn" type="submit">@Messages("bc.nonuk.client.reg.view-clients")</button>
</div>



<div class="form-group" id="continue">
    <button class="button" id="continue-btn" type="submit">@Messages("bc.continue")</button>
</div>

}

<div>
    <a href="@controllers.routes.ClientPermissionController.view(service)" id="back" class="link-back">
        @Messages("bc.business-verification.back")
    </a>
</div>

}
