@(title: String,
    mainContentHeader: Html = HtmlFormat.empty)(mainContent: Html)(implicit request : Request[_])

@import layouts.govuk_template
@import uk.gov.hmrc.play.views.html.layouts

@betaBanner = {
    @layouts.betaBanner(
        userLoggedIn = false,
        betaFeedbackUrl = "#",
        betaFeedbackUnauthenticatedUrl = "#",
        showFeedbackLinkInBetaBanner = true)
}

@serviceInfo = {
    @layouts.serviceInfo(
        betaBanner = betaBanner,
        includeGridWrapper = false,
        serviceInfoContent = None)
}


@head = {
    @layouts.head(assetsPrefix = "http://localhost:9032/assets/2.23.0", linkElem = None, headScripts = None)
}

@sidebar = {
}

@article = {
    @layouts.article(mainContent, false, None)
}

@content = {
    @layouts.main_content(
        article = layouts.article(content = mainContent, includeGridWrapper = false),
        mainContentHeader = mainContentHeader,
        serviceInfo = serviceInfo
        )
}

@bodyEnd = {
    @layouts.footer(
        analyticsToken = Some("Test-Token"),
        analyticsHost = "",
        assetsPrefix = "http://localhost:9032/assets/2.23.0",
        ssoUrl = None,
        scriptElem = None,
        gaCalls = None)
}

@views.html.layouts.govuk_template(
    title = Some(title),
    bodyClasses = None)(
    head,
    bodyEnd = bodyEnd,
    insideHeader = HtmlFormat.empty,
    afterHeader = HtmlFormat.empty,
    footerTop = HtmlFormat.empty,
    footerLinks = None,
    nav = true)(content)