@(title: String, userLoggedIn: Boolean = false, supportLinkEnabled: Boolean = false)(mainContent: Html)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.layouts

@getHelpForm = {
    @if(supportLinkEnabled) {
        @config.CachedStaticHtmlPartialProvider.get(config.ApplicationConfig.reportAProblemPartialUrl)
    }
}

@linkElement = {
<link rel="stylesheet" href='@controllers.routes.Assets.at("stylesheets/business-customer.css")'/>
}

@main(
    applicationConfig = config.ApplicationConfig,
    title = title,
    mainContent = mainContent,
    userLoggedIn = userLoggedIn,
    getHelpForm = getHelpForm,
    linkElement = Some(linkElement)){
        <article>
            @mainContent
        </article>
}
