@(businessRegistrationForm: Form[models.BusinessRegistration], isAgent: Boolean, service: String, listOfIsoCode: List[(String, String)])(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@bcMain(title = Messages("business-registration.title")) {

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        countryCodeAutoComplete()
    });
</script>

@errors(businessRegistrationForm)
<p class="text-section" id="business-verification-text">@Messages("bc.business-verification.text", service.toUpperCase)</p>
@if(isAgent) {
<h1 id="business-registration.header"  aria-level="1" role="heading">@Html(Messages("bc.business-registration.agent.header"))</h1>
}else{
<h1 id="business-registration.header"  aria-level="1" role="heading">@Html(Messages("bc.business-registration.user.header"))</h1>
}
<p class="text-section" id="business-registration-subheader">@Messages("bc.business-registration.subheader")</p>

@form(action = controllers.routes.BusinessRegController.send(service)) {
<div class="form-group">

    <div id="business-registration-form">

        @bcInput(businessRegistrationForm("businessName"),
        '_label ->  Html(Messages("bc.business-registration.businessName")),
        '_labelClass -> "form-label",
        '_id -> "businessNameNUK",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("businessAddress.line_1"),
        '_label ->  Html(Messages("bc.business-registration.line_1")),
        '_id -> "businessAddress.line_1",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("businessAddress.line_2"),
        '_label ->  Html(Messages("bc.business-registration.line_2")),
        '_id -> "businessAddress.line_2",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("businessAddress.line_3"),
        '_label ->  Html(Messages("bc.business-registration.line_3")),
        '_id -> "businessAddress.line_3",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("businessAddress.line_4"),
        '_label ->  Html(Messages("bc.business-registration.line_4")),
        '_id -> "businessAddress.line_4",
        '_showConstraints -> false)

        @bcDropdown(businessRegistrationForm("businessAddress.country"),
        elementOptions = listOfIsoCode,
        displayEmptyValue = true,
        '_emptyValueText -> Messages("bc.business-registration.country.select"),
        '_label -> Html(Messages("bc.business-registration.country")))

        @bcInput(businessRegistrationForm("businessUniqueId"),
        '_label ->  Html(Messages("bc.business-registration.businessUniqueId")),
        '_id -> "businessUniqueId",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("issuingInstitution"),
        '_label ->  Html(Messages("bc.business-registration.issuingInstitution")),
        '_id -> "issuingInstitution",
        '_showConstraints -> false)
    </div>


    <button class="button" id="submit" type="submit">@Messages("bc.business-registration.submit")</button>
</div>


}

}
