@(businessRegistrationForm: Form[models.BusinessRegistration], service: String, displayDetails: models.BusinessRegistrationDisplayDetails)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.BCUtils

@implicitFormInstance = @{ Some(businessRegistrationForm) }

@bcMain(title = Messages("business-registration.group.title"), service = Some(service)) {

<p class="heading-sub" id="business-verification-text">@Messages("bc.business-verification.text", service.toUpperCase)</p>

@bcErrorSummary(businessRegistrationForm, "bc.business-verification-error.general")

<h1 class="heading-xlarge" id="business-registration.header"  aria-level="1" role="heading">@Html(displayDetails.businessRegHeader)</h1>

@form(action = controllers.routes.BusinessRegUKController.send(service, displayDetails.businessType)) {
<div class="form-group">

    <div id="business-registration-form">

        @bcInputNew(businessRegistrationForm("businessName"),
        '_label ->  Html(Messages("bc.business-registration.group.businessName")),
        '_labelClass -> "form-label",
        '_id -> "businessName",
        '_showConstraints -> false,
        '_hintText -> Messages("bc.business-registration.group.businessName.hintText"),
        '_maxLength -> 140)

        @bcInputNew(businessRegistrationForm("businessAddress.line_1"),
        '_label ->  Html(Messages("bc.business-registration.line_1")),
        '_id -> "businessAddress.line_1",
        '_maxLength -> 35,
        '_showConstraints -> false)

        @bcInputNew(businessRegistrationForm("businessAddress.line_2"),
        '_label ->  Html(Messages("bc.business-registration.line_2")),
        '_id -> "businessAddress.line_2",
        '_maxLength -> 35,
        '_showConstraints -> false)

        @bcInputNew(businessRegistrationForm("businessAddress.line_3"),
        '_label ->  Html(Messages("bc.business-registration.group.line_3")),
        '_id -> "businessAddress.line_3",
        '_maxLength -> 35,
        '_showConstraints -> false)

        @bcInputNew(businessRegistrationForm("businessAddress.line_4"),
        '_label ->  Html(Messages("bc.business-registration.group.line_4")),
        '_id -> "businessAddress.line_4",
        '_maxLength -> 35,
        '_showConstraints -> false)

        @bcInputNew(businessRegistrationForm("businessAddress.postcode"),
        '_label ->  Html(Messages("bc.business-registration.postcode")),
        '_id -> "businessAddress.postcode",
        '_maxLength -> 10,
        '_showConstraints -> false)


    </div>


    <button class="button" id="submit" type="submit">@Messages("bc.business-registration.submit")</button>

    <div>
        <a href="@controllers.routes.BusinessVerificationController.businessVerification(service)"  id="back" class="link-back">@Messages("bc.business-verification.back")</a>
    </div>

    @bcInputNew(businessRegistrationForm("businessAddress.country"),
            '_id -> "businessAddress.country",
            '_label -> Html(Messages("bc.business-registration.country")),
            '_labelClass -> "visuallyhidden",
            '_type -> "hidden")
    @bcInputNew(businessRegistrationForm("hasBusinessUniqueId"),
            '_id -> "hasBusinessUniqueIdry",
            '_label -> Html(Messages("bc.business-registration.hasBusinessUniqueId")),
            '_labelClass -> "visuallyhidden",
            '_type -> "hidden")
    @bcInputNew(businessRegistrationForm("businessType"),
            '_id -> "businessType",
            '_label -> Html(Messages("bc.business-verification.user.header")),
            '_labelClass -> "visuallyhidden",
            '_type -> "hidden")
</div>


}

}

