@(soleTraderForm: Form[forms.SoleTraderMatch], isAgent: Boolean, service: String, businessType: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@implicitFormInstance = @{ Some(soleTraderForm) }

@bcMain(title = if(isAgent) {Messages("bc.business-verification-selected-agent-header")} else {Messages("bc.business-verification-selected-user-SOP-header")}, service = Some(service)) {

  @if(isAgent) {
    <div class="heading-sub" id="business-verification-agent-text"> @Messages("bc.business-verification.agent.text", service.toUpperCase) </div>
    <h1 class="heading-xlarge" id="business-type-agent-header"> @Messages("bc.business-verification-selected-agent-header")</h1>
  } else {
    <div class="heading-sub" id="business-verification-text"> @Messages("bc.business-verification.client.text", service.toUpperCase) </div>
    <h1 class="heading-xlarge" id="business-type-header"> @Messages("bc.business-verification-selected-user-SOP-header") </h1>
  }

  @bcErrorSummary(soleTraderForm, "bc.business-verification-error.general")

  @if(!isAgent && service.toUpperCase == "ATED"){
    <p class="lede" id="business-type-paragraph-nrl"> @Messages("bc.business-verification-lede.nrl") </p>
  } else {
    <p class="lede" id="business-type-paragraph"> @Messages("bc.business-verification-lede") </p>
  }

  @form(action = controllers.routes.BusinessVerificationController.submit(service,businessType)) {

    <div class="form-group">

      <div id="business-type-sop-form" class="form-field">

        @bcInput(soleTraderForm("firstName"),
          '_label -> Html(Messages("bc.business-verification.firstNameField")),
          '_id -> "firstName",
          '_showConstraints -> false)

        @bcInput(soleTraderForm("lastName"),
          '_label -> Html(Messages("bc.business-verification.lastNameField")),
          '_id -> "lastName",
          '_showConstraints -> false)

        @bcInput(soleTraderForm("saUTR"),
          '_label -> Html(Messages("bc.business-verification.saUTRField")),
          '_hintText -> Messages("bc.business-verification.utr.hint"),
          '_id -> "saUTR",
          '_type -> "text",
          '_fieldsetAttributesHelpQuestion -> "utr-help-question",
          '_fieldsetQuestion -> Messages("bc.business-verification.utr.help.question"),
          '_HelpQuestionAnswer -> Html(Messages("bc.business-verification.utr.help.answer")),
          '_showConstraints -> false)

      </div>

      <button class="button" id="submit" type="submit">@Messages("bc.business-registration.submit")</button>

    </div>

  }

}
