@(limitedCompanyForm: Form[forms.LimitedCompanyMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("bc.business-verification.title")) {
@if(!limitedCompanyForm.hasGlobalErrors || limitedCompanyForm.hasErrors){
<div id="errors" class="validation-summary">
    <h1 class="heading-small">@Messages("bc.business-verification-error.summaryHeader")</h1>
    <ul>
        @if(limitedCompanyForm.hasGlobalErrors) {
        @for(validationError <- limitedCompanyForm.globalErrors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        } else {
        @if(limitedCompanyForm.hasErrors) {
        @for(validationError <- limitedCompanyForm.errors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        }
    </ul>
</div>
}
}
<h1 id="business-type-header">@Messages("bc.business-verification.LTD")</h1>


@form(action = controllers.routes.BusinessVerificationController.businessLookup(service, "LTD")) {

<div id="business-type-ltd-form" class="form-field">

    @bcInput(limitedCompanyForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_id -> "business-name",
    '_showConstraints -> false)

    @bcInput(limitedCompanyForm("cotaxUTR"),
    '_label -> Html(Messages("bc.business-verification.coUTRField")),
    '_error -> limitedCompanyForm("cotaxUTR").error.map(_.withMessage(Messages("bc.business-verification-error.utr"))),
    '_id -> "cotax-utr",
    '_showConstraints -> false)

</div>
<button class="button" id="submit" type="submit">Continue</button>
}
}