@(businessTypeForm: Form[forms.BusinessType], isAgent: Boolean, service: String)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@bcMain(title = Messages("bc.business-verification.title")) {


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function() {

    // On document ready, hide submit
    if ($('.block-label input[type="radio"]:checked').length == 0) {
        $('#submit').hide();
    }
    // On radio click event
    $('.block-label input[type="radio"]').on('click', function() {

        // Show continue button
        $('#submit').show();
    });
 });
</script>
@errors(businessTypeForm)
<p class="text-section" id="business-verification-text">@Messages("bc.business-verification.text", service.toUpperCase)</p>

@if(isAgent) {
<h1 id="business-verification-header"  aria-level="1" role="heading">@Html(Messages("bc.business-verification.agent.header"))</h1>
}else{
<h1 id="business-verification-header"  aria-level="1" role="heading">@Html(Messages("bc.business-verification.user.header"))</h1>
}

@if(isAgent) {
<p id="business-lookup-text">@Messages("bc.business-verification.agent.lookup-text")</p>
}else{
<p id="business-lookup-text">@Messages("bc.business-verification.user.lookup-text")</p>
}

    @form(action = controllers.routes.BusinessVerificationController.continue(service)) {
        <div class="form-group">

            @inputRadioGroup(
            businessTypeForm("businessType"),
            Seq(
            "NUK" -> Messages("bc.business-verification.NUK"),
            "LTD" -> Messages("bc.business-verification.LTD"),
            "SOP" -> Messages("bc.business-verification.SOP"),
            "OBP" -> Messages("bc.business-verification.PRT"),
            "LP" -> Messages("bc.business-verification.LP"),
            "LLP" -> Messages("bc.business-verification.LLP"),
            "UIB" -> Messages("bc.business-verification.UIB")
            ),
                '_legend -> Messages("bc.business-verification.radio-legend"),
                '_labelClass -> "block-label",
                '_legendClass -> "bold-small",
                '_labelAfter -> true
            )

        </div>

        <button class="button" id="submit" type="submit">Continue</button><br><br>

    }



}
