@(unincorporatedBodyForm: Form[forms.UnincorporatedMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@bcMain(title = Messages("bc.business-verification.lookup")) {

@errors(unincorporatedBodyForm)

<h1 id="business-type-header">@Messages("bc.business-verification.UIB")</h1>

@form(action = controllers.routes.BusinessVerificationController.submit("ATED","UIB")) {
<div id="business-type-uib-form" class="form-field">

    @bcInput(unincorporatedBodyForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_id -> "businessName",
    '_showConstraints -> false)

    @bcInput(unincorporatedBodyForm("cotaxUTR"),
    '_label -> Html(Messages("bc.business-verification.coUTRField")),
    '_id -> "cotaxUTR",
    '_showConstraints -> false)

</div>
<button class="button" id="submit" type="submit">Continue</button>
}
}