@(unincorporatedBodyForm: Form[forms.UnincorporatedMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("bc.business-verification.title")) {

@form(action = controllers.routes.BusinessVerificationController.businessLookup(service, "UIB")) {

<div id="business-type-ltd-form" class="form-field panel-indent">

    @bcInput(unincorporatedBodyForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_id -> "uib-business-name",
    '_showConstraints -> false)

    @bcInput(unincorporatedBodyForm("cotaxUTR"),
    '_label -> Html(Messages("bc.business-verification.coUTRField")),
    '_error -> unincorporatedBodyForm("cotaxUTR").error.map(_.withMessage(Messages("bc.business-verification-error.utr"))),
    '_id -> "uib-cotax-utr",
    '_showConstraints -> false)

</div>
}
}