@(businessTypeForm: Form[forms.BusinessType], service: String)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("bc.business-verification.title")) {


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        // On document ready, if no radio button is selected, hide submit
        if ($('.block-label input[type="radio"]:checked').length == 0) {
            $('#submit').hide();
        }

        // On radio click event
        $('.block-label input[type="radio"]').on('click', function() {

            // Show continue button
            $('#submit, #'+ $(this).attr('data-target')).show();

            // If errors exist, when changing radio selection, remove errors from previous selection
            if ($('.error-overview').length > 0) {
                $(this).on('change', function() {
                    $('.error-overview').remove();
                });
            }
        });
     });
</script>

<h1 id="business-verification-header">@Messages("bc.business-verification.header")</h1>
<p id="business-lookup-text">@Messages("bc.business-verification.lookup-text")</p>

@if(businessTypeForm.hasGlobalErrors){
<div class="error-overview">
    @for(validationError <- businessTypeForm.globalErrors){
    @validationError.message<p></p>
    }
</div>
}

@form(action = controllers.routes.BusinessVerificationController.submit(service)) {
<div class="form-group">

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("NUK" -> Messages("bc.business-verification.radioNUK")),
    '_legend -> Messages("bc.business-verification.radio-legend"),
    '_labelClass -> "block-label",
    '_labelAfter -> true,
    '_dataAttributes -> "data-target=business-type-non-uk-form"
    )

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("UIB" -> Messages("bc.business-verification.radioUIB")),
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_dataAttributes -> "data-target=business-type-uib-form"
    )

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("LTD" -> Messages("bc.business-verification.radioLTD")),
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_dataAttributes -> "data-target=business-type-ltd-form"
    )

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("SOP" -> Messages("bc.business-verification.radioSOP")),
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_dataAttributes -> "data-target=business-type-sop-form"
    )

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("LLP" -> Messages("bc.business-verification.radioLLP")),
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_dataAttributes -> "data-target=business-type-llp-form"
    )

    @inputRadioGroup(
    businessTypeForm("businessType"),
    Seq("OBP" -> Messages("bc.business-verification.radioPRT")),
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_dataAttributes -> "data-target=business-type-obp-form"
    )

</div>

<button class="button" id="submit" type="submit">Continue</button>

    }
}
