@(limitedPartnershipForm: Form[forms.LimitedPartnershipMatch], isAgent: Boolean, service: String, businessType: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@implicitFormInstance = @{ Some(limitedPartnershipForm) }

@bcMain(title = Messages("bc.business-verification.lookup"), service = Some(service)) {

  @bcErrorSummary(limitedPartnershipForm, "bc.business-verification-error.general.lp")

  @if(isAgent) {
    <p class="heading-sub" id="business-verification-agent-text"> @Messages("bc.business-verification.agent.text", service.toUpperCase) </p>
    <h1 class="heading-xlarge" id="business-type-agent-header"> @Messages("bc.business-verification-selected-agent-header") </h1>
  } else {
    <p class="heading-sub" id="business-verification-text"> @Messages("bc.business-verification.client.text", service.toUpperCase) </p>
    <h1 class="heading-xlarge" id="business-type-header"> @Messages("bc.business-verification-selected-user-header") </h1>
  }

  <p class="lede" id="business-type-paragraph"> @Messages("bc.business-verification-lede") </p>

  @form(action = controllers.routes.BusinessVerificationController.submit(service,businessType)) {

    <div class="form-group">

      <div id="business-type-lp-form" class="form-field">

        @bcInput(limitedPartnershipForm("businessName"),
          '_label -> Html(Messages("bc.business-verification.businessNamefield")),
          '_hintText -> Messages("bc.business-verification.registered-name.hint"),
          '_id -> "businessName",
          '_showConstraints -> false)

        @bcInput(limitedPartnershipForm("psaUTR"),
          '_label -> Html(Messages("bc.business-verification.partnerUTRField")),
          '_hintText -> Messages("bc.business-verification.utr.hint"),
          '_id -> "psaUTR",
          '_type -> "number",
          '_fieldsetAttributesHelpQuestion -> "utr-help-question",
          '_fieldsetQuestion -> Messages("bc.business-verification.utr.help.question"),
          '_HelpQuestionAnswer -> Html(Messages("bc.business-verification.utr.help.answer")),
          '_showConstraints -> false)

      </div>

      <button class="button" id="submit" type="submit">@Messages("bc.business-registration.search")</button>

    </div>
  }

  <div>
    <a href="@controllers.routes.BusinessVerificationController.businessVerification(service)" id="back" class="link-back">
      @Messages("bc.business-verification.back")
    </a>
  </div>

}
