@(businessRegistrationForm: Form[models.BusinessRegistration])(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("business-registration.title")) {

<h1 id="business-registration.header"  aria-level="1" role="heading">@Html(Messages("bc.business-registration.header"))</h1>


@form(action = controllers.routes.BusinessRegController.register) {
<div class="form-group">

    <div id="business-registration-form">

        @bcInput(businessRegistrationForm("business-name"),
        '_label ->  Html(Messages("bc.business-registration.businessName")),
        '_labelClass -> "form-label",
        '_id -> "business-name",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("line_1"),
        '_label ->  Html(Messages("bc.business-registration.line_1")),
        '_id -> "line_1",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("line_2"),
        '_label ->  Html(Messages("bc.business-registration.line_2")),
        '_id -> "line_2",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("line_3"),
        '_label ->  Html(Messages("bc.business-registration.line_3")),
        '_id -> "line_3",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("line_4"),
        '_label ->  Html(Messages("bc.business-registration.line_4")),
        '_id -> "line_4",
        '_showConstraints -> false)

        @bcInput(businessRegistrationForm("country"),
        '_label ->  Html(Messages("bc.business-registration.country")),
        '_id -> "country",
        '_showConstraints -> false)


    </div>

</div>

    <button class="button" id="submit" type="submit">@Messages("bc.business-registration.submit")</button>

    <div>
       <p> <a href="#"  id="cancel">@Messages("bc.business-registration.cancel")</a> </p>
    </div>
}

}

