@(soleTraderForm: Form[forms.SoleTraderMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("bc.business-verification.title")) {
@if(!soleTraderForm.hasGlobalErrors || soleTraderForm.hasErrors){
<div id="errors" class="validation-summary">
    <h1 class="heading-small">@Messages("bc.business-verification-error.summaryHeader")</h1>
    <ul>
        @if(soleTraderForm.hasGlobalErrors) {
        @for(validationError <- soleTraderForm.globalErrors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        } else {
        @if(soleTraderForm.hasErrors) {
        @for(validationError <- soleTraderForm.errors){
        <li class="validation-message" id='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
            <a href='#@validationError.key.replaceAll("""[\.\[\]]""", "-")'>
                @validationError.message
            </a>
        </li>
        }
        }
    </ul>
</div>
}
}
<h1 id="business-type-header">@Messages("bc.business-verification.SOP")</h1>

@form(action = controllers.routes.BusinessVerificationController.businessLookup(service, "SOP")) {

<div id="business-type-sop-form" class="form-field">

    @bcInput(soleTraderForm("firstName"),
    '_label -> Html(Messages("bc.business-verification.firstNameField")),
    '_id -> "first-name",
    '_showConstraints -> false)

    @bcInput(soleTraderForm("surname"),
    '_label -> Html(Messages("bc.business-verification.lastNameField")),
    '_id -> "surname",
    '_showConstraints -> false)

    @bcInput(soleTraderForm("sautr"),
    '_label -> Html(Messages("bc.business-verification.saUTRField")),
    '_error -> soleTraderForm("soleTrader.sAUTR").error.map(_.withMessage(Messages("bc.business-verification-error.utr"))),
    '_id -> "sa-utr",
    '_showConstraints -> false)

</div>
<button class="button" id="submit" type="submit">Continue</button>
}
}