@(agentReference: Option[String])(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._


@bcMain(title = Messages("bc.business-agent.confirmation.title")) {

<div id="banner" class="greenBanner form-field">
    <h1 id="message"><img class="tick" src="../../assets/images/tick.png">@Messages("bc.business-agent.confirmation.message")
    </h1>

    <h1 id="agent-reference">@Messages("bc.business-agent.confirmation.reference") @agentReference.map(reference =>
        reference)</h1>
</div>
<h3 class="heading-medium" id="confirm">@Messages("bc.business-agent.confirmation.instruction")</h3>
<div>

    <hr>

    <h2 class="heading-large" id="what-happens-next">@Messages("bc.business-agent.confirmation.what-happens-next")</h2>

    <h3 class="heading-medium" id ="what-happens-next-instruction">@Messages("bc.business-agent.confirmation.what-happens-next-instruction")</h3>

    <p id="happens-next-message1">@Messages("bc.business-agent.confirmation.message1")</p>

    <ol>
        <li id="happens-next-item1">@Messages("bc.business-agent.confirmation.happens-next-item1")</li>
        <li id="happens-next-item2">@Messages("bc.business-agent.confirmation.happens-next-item2")</li>
        <li id="happens-next-item3">@Messages("bc.business-agent.confirmation.happens-next-item3")</li>
    </ol>


    <p id="happens-next-message2">@Messages("bc.business-agent.confirmation.happens-next-message2")</p>


    <a href="@routes.ApplicationController.logout" id="submit" class="button">
        @Messages("bc.business-agent.confirmation.finish")</a>
</div>

}
