@(limitedLiabilityPartnershipForm: Form[forms.LimitedLiabilityPartnershipMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@bcMain(title = Messages("bc.business-verification.title")) {

@errors(limitedLiabilityPartnershipForm)

<h1 id="business-type-header">@Messages("bc.business-verification.LLP")</h1>

@form(action = controllers.routes.BusinessVerificationController.businessLookup(service, "LLP")) {

<div id="business-type-llp-form" class="form-field">

    @bcInput(limitedLiabilityPartnershipForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_id -> "business-name",
    '_showConstraints -> false)

    @bcInput(limitedLiabilityPartnershipForm("psaUTR"),
    '_label -> Html(Messages("bc.business-verification.partnerUTRField")),
    '_error -> limitedLiabilityPartnershipForm("psaUTR").error.map(_.withMessage(Messages("bc.business-verification-error.utr"))),
    '_id -> "psa-utr",
    '_showConstraints -> false)

</div>
<button class="button" id="submit" type="submit">Continue</button>
}
}