@(limitedLiabilityPartnershipForm: Form[forms.LimitedLiabilityPartnershipMatch], service: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@bcMain(title = Messages("bc.business-verification.title")) {

@form(action = controllers.routes.BusinessVerificationController.businessLookup(service, "LLP")) {

<div id = "business-type-llp-form" class = "form-field panel-indent">

    @bcInput(limitedLiabilityPartnershipForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_id -> "llp-business-name",
    '_showConstraints -> false)

    @bcInput(limitedLiabilityPartnershipForm("psaUTR"),
    '_label -> Html(Messages("bc.business-verification.partnerUTRField")),
    '_error -> limitedLiabilityPartnershipForm("psaUTR").error.map(_.withMessage(Messages("bc.business-verification-error.utr"))),
    '_id -> "llp-psa-utr",
    '_showConstraints -> false)

</div>
}
}