@(ordinaryBusinessPartnershipForm: Form[forms.OrdinaryBusinessPartnershipMatch], isAgent: Boolean, service: String, businessType: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@bcMain(title = Messages("bc.business-verification.lookup")) {

@errors(ordinaryBusinessPartnershipForm)

@if(isAgent) {
<h1 id="business-type-header">@Messages("bc.business-verification-selected-agent-header")</h1>
}else{
<p class="text-section" id="business-verification-text">@Messages("bc.business-verification.text", service.toUpperCase)</p>
<h1 id="business-type-header">@Messages("bc.business-verification-selected-user-header")</h1>
}
<div class="form-group">
@form(action = controllers.routes.BusinessVerificationController.submit(service,businessType)) {

<div id="business-type-obp-form" class="form-field">

    @bcInput(ordinaryBusinessPartnershipForm("businessName"),
    '_label -> Html(Messages("bc.business-verification.businessNamefield")),
    '_hintText -> Messages("bc.business-verification.registered-name.hint"),
    '_id -> "businessName",
    '_showConstraints -> false)

    @bcInput(ordinaryBusinessPartnershipForm("psaUTR"),
    '_label -> Html(Messages("bc.business-verification.partnerUTRField")),
    '_hintText -> Messages("bc.business-verification.saUTR.hint"),
    '_id -> "psaUTR",
    '_showConstraints -> false)

</div>
<button class="button" id="submit" type="submit">Search</button>
}
</div>
<a href="@controllers.routes.BusinessVerificationController.businessVerification(service: String)">Back</a>
}
