@(agentReference: Option[String])(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._


@bcMain(title = Messages("bc.business-agent.confirmation.title")) {

<div id ="banner" class = "greenBanner form-field">
    <h1 id="message"><img class="tick" src="../../assets/images/tick.png">@Messages("bc.business-agent.confirmation.message")</h1>
    <h1 id="agent-reference">@Messages("bc.business-agent.confirmation.reference") @agentReference.map(reference => reference)</h1>
</div>
        <h2 class="heading-medium" id="confirm">@Messages("bc.business-agent.confirmation.instruction")</h2>

<div>
    <a href="@routes.ApplicationController.logout" id="submit" class="button">
        @Messages("bc.business-agent.confirmation.finish")</a>
</div>

}
