@(notUkUtrForm: Form[models.NotUkUtr])(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._



@implicitFormInstance = @{ Some(notUkUtrForm) }

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/business-customer-nuk.js")'></script>
}

@bcMain(title = Messages("bc.nonuk.client.reg.title"), service = Some("ATED"), pageScripts = Some(pageScripts)){


    <p class="heading-sub" id="nonuk-client-reg-subheader"> @Messages("bc.nonuk.client.reg.subheader")</p>

    <h1 class="heading-xlarge" id="nonuk-client-reg-header">@Messages("bc.nonuk.client.reg.header")</h1>



<div class="form-group" id="nuk-utr">
    @bcInputRadioGroup(notUkUtrForm("nUkUtr"),
    Seq("true" -> Messages("bc.nonuk.client.reg.yes.label"),
    "false" -> Messages("bc.nonuk.client.reg.no.label")),
    '_legend -> "",
    '_legendClass -> "bold-small",
    '_groupClass -> "inline",
    '_labelClass -> "block-label",
    '_labelAfter -> true)
</div>




    <div class="form-group">

        <div class="panel-indent panel-border-wide" id="hidden-uniqueTaxRef-true">
            <h2 id="nonuk-client-reference-title">@Messages("bc.nonuk.client.reg.question.true.info-title")</h2>

                <p id="nonuk-client-reference-text1">@Html(Messages("bc.nonuk.client.reg.question.true-text1"))</p>

            <ol>
                <li id="nonuk-client-reference-info1">@Html(Messages("bc.nonuk.client.reg.question.true-info1"))</li>
                <li id="nonuk-client-reference-info2">@Messages("bc.nonuk.client.reg.question.true-info2")</li>
                <li id="nonuk-client-reference-info3">@Messages("bc.nonuk.client.reg.question.true-info3")</li>
            </ol>

                <p id="nonuk-client-reference-text2">@Html(Messages("bc.nonuk.client.reg.question.true-text2"))</p>

         </div>
    </div>

    <div class="form-group box--shaded" id="shade-box">
        <p id="nonuk-clientreference-box-text">@Messages("bc.nonuk.client.reg.question.true.box.text")</p>

        <details>
            <summary>
        <span id="nonuk-client-reference-not-listed" class="summary">
          @Messages("bc.nonuk.client.reg.question.true.reveal")
        </span>
            </summary>
                <p id="nonuk-client-reference-not-listed-text">@Html(Messages("bc.nonuk.client.reg.question.true.reveal-text"))</p>

        </details>

    </div>


    <div class="form-group" id="submit">
        <button class="button" type="submit">@Messages("bc.nonuk.client.reg.view-clients")</button>
    </div>

<div class="form-group" id="continue">
    <button class="button" type="submit">@Messages("bc.continue")</button>
</div>




}