@(nrlQuestionForm: Form[models.NRLQuestion], service: String)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.BCUtils

@implicitFormInstance = @{ Some(nrlQuestionForm) }

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/business-customer-nrl.js")'></script>
}

@bcMain(title = Messages("bc.nrl.title"), service = Some(service), pageScripts = Some(pageScripts)) {

@bcErrorSummary(nrlQuestionForm, "bc.nrl-error.general")

  @form(action = controllers.routes.NRLQuestionControllerAgent.continue(service)) {

    <p class="heading-sub" id="client-appoint-subheader"> @Messages("bc.nrl.subheader")</p>

    <h1 class="heading-xlarge" id="nrl-question-header"> @Messages("bc.nrl.header")</h1>

    <p class ="lede" id="non-resident-text"> @Messages("bc.nrl.text")</p>

    <div class="form-group" id="paysSA">

      @bcInputRadioGroup(
        nrlQuestionForm("paysSA"),
        Seq("true" -> Messages("bc.radio.yes.label"),
        "false" -> Messages("bc.radio.no.label")),
        '_labelClass -> "block-label",
        '_legend -> "",
        '_labelAfter -> true,
        '_groupClass -> "inline"
      )

    </div>



<div class="form-group">

  <div class="panel-indent panel-border-wide" id="hidden-uniqueTaxRef-true">
    <h2 id="nonuk-client-reference-title">@Messages("bc.nonuk.client.reg.question.true.info-title")</h2>

    <p id="nonuk-client-reference-text1">@Html(Messages("bc.nonuk.client.reg.question.true-text1"))</p>

    <ol>
      <li id="nonuk-client-reference-info1">@Html(Messages("bc.nonuk.client.reg.question.true-info1"))</li>
      <li id="nonuk-client-reference-info2">@Messages("bc.nonuk.client.reg.question.true-info2")</li>
      <li id="nonuk-client-reference-info3">@Messages("bc.nonuk.client.reg.question.true-info3")</li>
    </ol>

    <p id="nonuk-client-reference-text2">@Html(Messages("bc.nonuk.client.reg.question.true-text2"))</p>

  </div>
</div>

<div class="form-group box--shaded" id="shade-box">
  <p id="nonuk-clientreference-box-text">@Messages("bc.nonuk.client.reg.question.true.box.text")</p>

  <details>
    <summary>
        <span id="nonuk-client-reference-not-listed" class="summary">
          @Messages("bc.nonuk.client.reg.question.true.reveal")
        </span>
    </summary>
    <p id="nonuk-client-reference-not-listed-text">@Html(Messages("bc.nonuk.client.reg.question.true.reveal-text"))</p>

  </details>

</div>



<div class="form-group" id="submit">
  <button class="button" id="submit-btn" type="submit">@Messages("bc.nonuk.client.reg.view-clients")</button>
</div>



<div class="form-group" id="continue">
  <button class="button" id="continue-btn" type="submit">@Messages("bc.continue")</button>
</div>

  }

  <div>
    <a href="@controllers.routes.NonUkClientRegistrationController.uniqueTaxReferenceView()" id="back" class="link-back">
      @Messages("bc.business-verification.back")
    </a>
  </div>

}
