@(nrlQuestionForm: Form[models.NRLQuestion], service: String)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import utils.BCUtils

@implicitFormInstance = @{ Some(nrlQuestionForm) }

@bcMain(title = Messages("bc.nrl.title"), service = Some(service)) {

@bcErrorSummary(nrlQuestionForm, "bc.nrl-error.general")

  @form(action = controllers.routes.NRLQuestionController.continue(service)) {

    <div class="heading-sub" id="client-appoint-subheader"> @Messages("bc.nrl.subheader")</div>

    <h1 class="heading-xlarge" id="nrl-question-header"> @Messages("bc.nrl.header")</h1>

    <div class="form-group" id="paysSA">

      @bcInputRadioGroup(
        nrlQuestionForm("paysSA"),
        Seq("true" -> Messages("bc.radio.yes.label"),
        "false" -> Messages("bc.radio.no.label")),
        '_labelClass -> "block-label",
        '_legend -> Messages("bc.nrl.header"),
        '_legendClass -> "screen-reader-text",
        '_labelAfter -> true,
        '_groupClass -> "inline"
      )

    </div>

  <div class="form-group">

    <button class="button" id="submit" type="submit"> @Messages("bc.continue") </button>

  </div>

  }
}
