@(service: String, businessDetails: models.ReviewDetails)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._

@bcMain(title = Messages("bc.business-review.title")) {

<h1 aria-level="1" role="heading">@Html(Messages("business-review.title", service))</h1>

  <div class="nested-banner">
      <p>@Messages("business-review.subscribe-banner", service)</p>
  </div>

  <table>
        <tr id="business-name">
            <th>@Messages("business-review.name")</th>
            <td>@businessDetails.businessName</td>
        </tr>

        <tr id="business-type">
            <th>@Messages("business-review.type")</th>
            <td>@businessDetails.businessType</td>
        </tr>

        <tr id="business-address">
            <th>@Messages("business-review.address")</th>
            <td>@businessDetails.businessAddress</td>
        </tr>

        <tr id="business-telephone">
            <th>@Messages("business-review.telephone")</th>
            <td>@businessDetails.businessTelephone</td>
        </tr>

        <tr id="business-email">
            <th>@Messages("business-review.email")</th>
            <td>@businessDetails.businessEmail</td>
        </tr>

  </table>

<a href="#" class="button">@Messages("business-review.button")</a>

<a href="#" class="cancel-subscription-button">@Messages("business-review.cancel-subscription")</a>
}
