@(businessDetails: models.ReviewDetails)(implicit request: Request[_])
@import uk.gov.hmrc.play.views.html._

@bcMain(title = Messages("bc.business-review.title")) {

<h1 aria-level="1" role="heading">@Html(Messages("business-review.title"))</h1>

  <div class="nested-banner">
      <p>@Messages("business-review.subscribe-banner")</p>
  </div>

  <table>
      <thead>
        <tr id="business-name">
            <th>@Messages("business-review.name")</th>
            <th>@businessDetails.businessName</th>
        </tr>

        <tr id="business-type">
            <th>@Messages("business-review.type")</th>
            <th>@businessDetails.businessType</th>
        </tr>

        <tr id="business-address">
            <th>@Messages("business-review.address")</th>
            <th>@businessDetails.businessAddress</th>
        </tr>

        <tr id="business-telephone">
            <th>@Messages("business-review.telephone")</th>
            <th>@businessDetails.businessTelephone</th>
        </tr>

        <tr id="business-email">
            <th>@Messages("business-review.email")</th>
            <th>@businessDetails.businessEmail</th>
        </tr>

      </thead>

  </table>

<a href="#" class="button">@Messages("business-review.button")</a>

<a href="#" class="cancel-subscription-button">@Messages("business-review.cancel-subscription")</a>
}